<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secuso.privacyfriendlycodescanner.qrscanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:installLocation="preferExternal"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:backupInForeground="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ScannerActivity" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/history"
            android:parentActivityName=".ScannerActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".ScannerActivity" />
        <activity
            android:name=".qrgenerating.QrGeneratorOverviewActivity"
            android:label="@string/QRGenerator"
            android:parentActivityName=".ScannerActivity" />
        <activity
            android:name=".TutorialActivity"
            android:parentActivityName=".ScannerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".ScannerActivity"
            android:label="@string/Settings"/>
        <activity android:name=".ResultActivity" />
        <activity
            android:name=".qrgenerating.QrGeneratorDisplayActivity"
            android:label="URL"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.MailEnterActivity"
            android:label="E-Mail"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.TelEnterActivity"
            android:label="Phone number"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.UrlEnterActivity"
            android:label="URL"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.SmsEnterActivity"
            android:label="SMS"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.GeoLocationEnterActivity"
            android:label="Geo location"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.MeCardEnterActivity"
            android:label="MeCard"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.BizCardEnterActivity"
            android:label="BizCard"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.MmsEnterActivity"
            android:label="MMS"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.WifiEnterActivity"
            android:label="WIFI"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.VcardEnterActivity"
            android:label="vcard"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity" />
        <activity
            android:name=".qrgenerating.MarketEnterActivity"
            android:label="Market"
            android:parentActivityName=".qrgenerating.QrGeneratorOverviewActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.secuso.qrscanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_path" />
        </provider>
    </application>

</manifest>